@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 3;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Poppins",sans-serif;
    font-size: 1.6rem;
}
.flex{
    display: flex;
}
.flex-center{
    align-items: center;
}
.flex-coloum{
    flex-direction: column;
}
.main-cont{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("https://tse2.mm.bing.net/th?id=OIP.oEQLwgDusll2Dt07_4cLYwHaHZ&pid=Api&P=0&w=300&h=300");
}
.main-cont::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg,rgb(9, 23, 70),purple,blue);
    opacity: 0.9;
    z-index: 1;
}
.container{
    position: relative;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.options{
    width: 26%;
    background: linear-gradient(-45deg,rgb(9, 23, 70),blue); 
    height: 550px;
    padding: 40px 50px;
    border-radius: 15px;
    margin-top: 80px;
    margin-left: calc(auto - 30px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.options button{
    padding: 10px 20px;
    width: 80%;
    font-family: "Poppins",sans-serif;
    font-size: 1.4rem;
    background: rgba(0, 0, 0, 0.35);
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 12px;
    margin: 10px 0;
    transition: 0.5s;
}
.options button:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.36),rgba(0,0,0,0.5));
}
.options button.active{
    border: 2px solid yellow;
    box-shadow: 0 0 4px 3px rgba(221, 217, 7, 0.5),inset 0 0 8px 6px rgba(221, 217, 7, 0.5);
}
.float{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    margin-top: 80px;
    background: white;
    width: 560px;
    height: 560px;
    border: 20px solid grey;
    border-top-color: rgba(0, 0, 0, 0.85);
    border-right-color: rgba(0, 0, 0, 0.85);
    cursor: none;
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
}
.wrapper.grid div{
    border: 1px solid black;
}
.cursor{
    position: absolute;
    z-index: 20;
    cursor: none;
}
.cursor i {
    cursor: none;
}
.hide{
 opacity: 0;
 pointer-events: none;
}
input[type="color"]{
    width: 50px;
    height: 40px;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}
.btn-cont{
    justify-content: space-evenly;
    width: 90%;
}
input[type="checkbox"]{
    width: 25px;
}
.check{
    width: 50%;
}
.gg-pen {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(-45deg) scale(var(--ggs,1));
    width: 20px;
    height: 6px;
    border-right: 2px solid transparent;
    box-shadow:
        0 0 0 2px,
        inset -2px 0 0;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-right: -2px;
}
.gg-pen::after,
.gg-pen::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-pen::before {
    background: currentColor;
    border-left: 0;
    right: -8px;
    width: 4px;
    height: 6px;
    border-radius: 1px;
    top: 0;
}
.gg-pen::after {
    width: 10px;
    height: 10px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 7px solid;
    left: -14px;
    top: -2px;
}
.gg-pen.rainbow::before{
    color: rgb(214, 99, 214);
}
.gg-pen.gg-pen.rainbow::after{
    color: red;
}
.gg-pen.shading::before,.gg-pen.shading::after{
    color: rgb(77, 72, 72);
}
.gg-square {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 12px;
    height: 12px;
    border-radius: 1px;
    border: 3px solid transparent;
    box-shadow: 0 0 0 3px,
    inset 0 0 0 3px
}