@import "./config"; // configures variables, font-families, etc

@mixin flex-custom($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}


@mixin mobile {
    @media screen and (max-width: $mobile) {
        @content;
    }
}

@mixin font-stroke {
    color: $bgColor;
    // animation: coloin 5s 1 forwards;
    transition: all 0.8s;
    -webkit-text-stroke: 2px white;
}

// @keyframes coloin {
//     0%{
//     -webkit-text-stroke: 3px white;
//     }
//     50%,80%,99.5%{
//     -webkit-text-stroke: 2px white;
//     }
//     100%{
//     color: white;
//     -webkit-text-stroke: 0px ;
//     }
//     }
