*{
    &::before,&::after{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}
input{
    outline: none;
    border: none;
    font-size: 1.6rem;
    &::placeholder{
        color: rgb(82, 79, 79);
        pointer-events: none;
    }
}

button{
    outline: none;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
}
::selection{
    background: black;
    color: white;
    padding: 0 30px;
}
ul,ol{
    list-style-type: none;
}
section,header{
    display: block;
}