@import './resets'; //reset's browser's default styles 
// @import'./config';  // configures variables, font-families, etc
@import "./mixin-functions"; // has all mixins and functions


//try lighten(color, percent) and darken(color, percent); 
html{
    @include mobile{
        font-size: 54%;
    }
}
//Global Class
//text align
.text{
    &-center{
        text-align: center;
    }
    &-right{
        text-align: right;
    }
}
// Font size All
.font{
    //size
    &-md{
        font-size: 4rem;
    }
    &-lg{
        font-size: 5rem;
    }
    //weight
    &-bold{
        font-weight: bold;
        
    }
}

//border
.border{
    &-nrml{
        border: 2px solid brown;
    }
}
.dark .border-nrml{
    border: 2px solid white;
}

//grid
.grid{
    display: grid;
    &#{&}-repeat-1fr{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
.margin-coloum{
    &-lg{
        margin: 50px 0;
    }
    &-sm{
        margin: 20px 0;
    }
    @include mobile{
        margin: 20px 0;
    }
}
.flex{
    display: flex;
    &-justify-spbtw{
        justify-content: space-between;
    }
    &-dir-row{
        flex-direction: row;
        @include mobile{
            flex-direction: column;
        }
    }
}
//padding All
.padding{
    &-md{
        padding: 10px 20px;
    }
    &-row{
        &-lg{
            padding: 0 30px;
        }
    }
    &-coloum{
        &-lg{
            padding: 30px 0;
        }
    }
}
//cursor All
.c{
    &-pointer{
        cursor: pointer;
    }
    &-notAllowed{
        cursor: not-allowed;
    }
}

//btns
.btn{
    outline: none;
    border: none;
    padding: 20px 30px;
    border-radius: 12px;
    font-size: 1.8rem;
    transition: 0.5s;
    &#{&}-third{
        background: $thirdColor;
        color: $bgColor;
        &:hover{
            letter-spacing: 6px;
        }
    }
    &#{&}-reset{
        background: rgb(151, 38, 38);
        color: $bgColor;
        transition: 0.5s;
        &:hover{
            background: rgba(151, 38, 38, 0.877);
        }
    }
}

//display none
.display-none{
    display: none;
}
//opactiy 
.off{
    opacity: 0;
    pointer-events: none;
}
.on{
    opacity: 1;
    pointer-events: all;
}





// Custom
.dark{
    background: $textColor;
    color: $bgColor;
}
header{
    width: 90%;
    margin: 0 auto;
    @include flex-custom(space-between,center,row);
}
.nav-container{
    @include flex-custom(center,center,row)
}
.nav-container ul{
    @include flex-custom(space-evenly, center, row);
}
.nav-container ul li{
    margin: 0 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s;
    &:hover{
        background: $textColor;
        color: $bgColor;
    }
} 
.dark .nav-container ul li:hover{
    background-color: $bgColor;
    color: $textColor;
    
}
.playersList{
    @include flex-custom(center,center,row);
    width: 50%;
    margin: 0 auto;
    min-height: 50vh;
    @include mobile{
        flex-direction: column;
    }
}
.option{
    width: 400px;
    background: lightcyan;
    @extend .padding-md;
    color: $textColor;
    @extend input;
    & option{
        color: $textColor;
    }
}
.playersList span{
    margin: 0 100px;
    color: red;
    @include mobile{
        margin: 50px 0;
    }
}

.end{
    @include flex-custom(space-evenly,center,column);
    min-height: 20vh;
}
.errorMessage{
    @extend .font-md;
    @extend .padding-coloum-lg;
}
.wrapper{
    @include flex-custom(space-between,center,row);
    margin: 100px auto;
    width: 90%;
    @include mobile{
        @include flex-custom(space-between,center,column);
    }
}
.left {
    @include mobile{
        margin: 80px 0;
    }
}
.playGround{
    width: 500px;
    height: 500px;
    border: 1px solid black;
}
.dark .playGround{
    border: 1px solid white;
}
.playGround div{
    font-size: 5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    @include flex-custom(center,center,row);
    text-transform: uppercase;
    &::selection{
        background:$bgColor;
        color: $textColor;
    }
}
.rules{
    margin: 150px 300px;
    line-height: 55px;
}